# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Django
*.log
local_settings.py

# SQLite DB (usually not committed)
db.sqlite3

# Static/media collected outputs
staticfiles/
media/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
